//
// Base styling of generic elements
// e.g. links, buttons, forms etc...
//

// default font
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: $default-font;
}
// font-awesome fallback should also use our custom font :) (e.g. header search button)
.fa {
    font-family: "FontAwesome", $default-font;
}

// heading fonts
h1, h2, h3 {
    font-family: $heading-font;
}

// // buttons
// @include buttons {
//     background: $primary-color;
//     border: 1px solid darken($primary-color, 5%);
//     color: $primary-color-text;
//
//     &:hover {
//         background: darken($primary-color, 5%);
//         border: 1px solid darken($primary-color, 10%);
//     }
//
//     &:active {
//         background: darken($primary-color, 10%);
//         border: 1px solid darken($primary-color, 15%);
//     }
// }

// // headings
// h1 {
//     color: $secondary-text-color;
// }
// h2,
// h3 {
//     color: $primary-color-light;
// }
// // links
// a {
//     color: $primary-color;
// }
