//
// Base styling of generic elements
// e.g. links, buttons, forms etc...
//

// default font
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: $default-font;
}
// fork-awesome fallback should also use our custom font :) (e.g. header search button)
.fa {
    font-family: "ForkAwesome", $default-font;
}

body {
    color: $default-text-color;
    font-size: $default-font-size;
    line-height: $default-line-height;
}

// max width for site layout container
.layout-container-inner {
    max-width: $layout-max-width;
}

// heading fonts
h1, h2, h3,
.h1, .h2, .h3 {
    font-family: $heading-font;
    font-weight: 300;
    color: $headings-text-color;
}

// links
a {
    color: $primary-color;
}

// buttons
@include buttons {
    background: $primary-color;
    border: 1px solid darken($primary-color, 5%);
    color: $primary-color-text;

    &:hover {
        background: darken($primary-color, 5%);
        border: 1px solid darken($primary-color, 10%);
    }

    &:active {
        background: darken($primary-color, 10%);
        border: 1px solid darken($primary-color, 15%);
    }
}
