//
// Variables
// https://robots.thoughtbot.com/sass-variables
//

$default-font: 'Open Sans', sans-serif;
$heading-font: 'Open Sans', sans-serif;
$default-text-color: #444;
$headings-text-color: #000000;

// The primary color is mainly used for buttons & links
$primary-color: #00675b;
$primary-color-text: #FFFFFF;

$body-bg-color: #FFF;

$header-bg-color: #009688;
$header-text-color: #FFF;
$menu-bg-color: #00675b;

$middle-bg-color: #FFFFFF;
$main-bg-color: transparent;

$footer-bg-color: #444;
$footer-text-color: #FFF;
