// Modal window styling

// Modal window header design
.modal-window-header {
    background-color: $primary-color;
}

// header text & close icon
.modal-window-header,
.modal-window-header-title,
.modal-window-header-close {
    color: $primary-color-text;
}

// modal text
.modal-window-body,
.modal-window-body h1,
.modal-window-body h2,
.modal-window-body h3,
.modal-window-body p {
    color: #000;
}
