// Modal window styling

// // Modal window header design
// .modal-window-header {
//     background-color: $primary-color-light;
//     color: #FFF;
// }
//
// // close icon (force back to white)
// .modal-window-header-close {
//     color: #FFF;
// }
